<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="{% url 'admin_home' %}">
            <span><i class="fas fa-briefcase mr-2"></i></span>JobPortal <span class="badge badge-danger ml-2" style="font-size: 0.65rem;">Admin</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_home' %}"><i class="fas fa-chart-line"></i> Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-users"></i> Recruiters
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'recruiter_pending' %}"><i class="fas fa-hourglass-half text-warning mr-2"></i> Pending</a>
                        <a class="dropdown-item" href="{% url 'recruiter_accepted' %}"><i class="fas fa-check-circle text-success mr-2"></i> Accepted</a>
                        <a class="dropdown-item" href="{% url 'recruiter_rejected' %}"><i class="fas fa-times-circle text-danger mr-2"></i> Rejected</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'recruiter_all' %}"><i class="fas fa-list mr-2"></i> All Recruiters</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_user' %}"><i class="fas fa-user-graduate"></i> View Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'change_passwordadmin' %}"><i class="fas fa-key"></i> Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'Logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ul>
            <span class="navbar-text font-weight-bold text-white ml-lg-2">
                <i class="fas fa-user-shield text-danger mr-1"></i> Administrator
            </span>
        </div>
    </div>
</nav>
