<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="{% url 'user_filter' %}">
            <span><i class="fas fa-briefcase mr-2"></i></span>JobPortal
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_filter' %}"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_latestjob' %}"><i class="fas fa-list-alt"></i> Job List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'applied_jobs' %}"><i class="fas fa-clipboard-list"></i> Applied Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'saved_jobs' %}"><i class="fas fa-bookmark"></i> Saved Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat_dashboard' %}"><i class="fas fa-comments"></i> Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_dashboard' %}"><i class="fas fa-user-circle"></i> My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_info' %}"><i class="fas fa-file-invoice"></i> Edit Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'change_passworduser' %}"><i class="fas fa-key"></i> Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'Logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ul>
            <span class="navbar-text font-weight-bold text-white ml-lg-2">
                <i class="fas fa-user-circle text-info mr-1"></i> {{ request.user.first_name }} {{ request.user.last_name }}
            </span>
        </div>
    </div>
</nav>
